<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Painter Arena</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/drawingboard/drawingboard.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='js/drawingboard/drawingboard.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/apiconn.js') }}"></script>
  <style>
    #simple-board {
      margin: 0 auto;
      width: 300px;
      height: 300px;
    }
  </style>
</head>

<body>
  <div id="app">
    <router-view>

    </router-view>
  </div>
</body>

</html>
